
body, html {
    margin: 0;
    padding: 0;
}


.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100%;
    position: fixed;
}

.profile {
    text-align: center;
    padding: 20px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.admin-name {
    margin-top: 10px;
}
.add_items{
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.menu li {
    text-align: center;
    padding: 15px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    font-size: 18px; 
}

.menu li a:hover {
    background-color: #444;
}


.content {
    margin-left: 250px;
    padding: 20px;
    background-color: #f4f4f4; 
}


#addItemForm {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}


.form-group input[type="text"],
.form-group textarea,
.form-group input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}


#addItemForm button[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}


#addItemForm button[type="button"]:hover {
    background-color: #0056b3; 
}
