* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #013d39;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333; 
    color: white;
    display: flex;
    height: 90px;
    justify-content: space-between; 
    align-items: center; 
}

header h1 {
    font-size: 36px; 
    margin: 0;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 40px; 
    color: white;
    min-height: calc(100vh - 290px)
}
.card-title{
    color: black;
}
.card-text{
    color: black;
}

footer {
    background-color: #333; 
    height: 200px;
    text-align: center;
    padding: 20px;
    color: white;
}


footer .copyright {
    font-size: 14px;
}


footer .social-media-icons {
    margin-top: 10px;
}

footer .social-media-icons a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 24px;
}

.contents-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}


.contents-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #001F1E99;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 280px; 
}
.contents-card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 10px;
}
.pricenum{
    color: white;
}
.dollar{
    color: green;
}


.contents-cards-image img {
    width: 240px;
    height: 300px;
    border-radius: 8px;
}


.contents-card-header {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.contents-card-content div {
    margin: 10px 0;
}


.price {
    color: #007bff; 
    font-size: 20px;
    font-weight: bold;
}


#donate-btn {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#donate-btn:hover {
    background-color: #0056b3;
}