* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #013d39;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333; 
    color: white;
    display: flex;
    height: 90px;
    justify-content: space-between; 
    align-items: center;  

}

header h1 {
    font-size: 36px; 
    margin: 0;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.img-solar{
    width: 100px;
}
footer {
    background-color: #333; 
    height: 200px;
    text-align: center;
    padding: 20px;
    color: white;
}


footer .copyright {
    font-size: 14px;
}


footer .social-media-icons {
    margin-top: 10px;
}

footer .social-media-icons a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 24px;
}


section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-info {
    background-color: #001F1E99;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-info h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}
.profile-info p {
    color: white;
}

.purchased-items {
    background-color: #001F1E99;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.purchased-items h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

  .item-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
   .name {
    padding-top: 10px;
    font-weight: bold;
    color: white;
  }
  .line{
    color: white;
  }
   .description {
    color: white;
  }

