
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4CAF50;
    font-family: Arial, sans-serif;
}
.TitleA{
    text-decoration: none;
}
.Title{
    text-decoration: none;
    color: white;
}
header {
    background-color: #333; 
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

header h1 {
    font-size: 36px; 
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 40px; 
    color: white;
}

footer {
    background-color: #333; 
    text-align: center;
    padding: 20px;
    color: white;
}


footer .copyright {
    font-size: 14px;
}


footer .social-media-icons {
    margin-top: 10px;
}

footer .social-media-icons a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 24px;
}

#section1 {
    background-image: url('img/Img1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #555; 
    height: 100%;
    text-align: center;
}

#section1 .content {
    padding: 280px;
    height: 670px;
}

#section1 img {
    max-width: 100%; 
}

#section1 h2 {
    font-size: 36px; 
    margin: 10px 0;
    text-align: center; 
}

#section1 p {
    font-size: 24px; 
    margin: 10px 0;
    text-align: center; 
}

#section1 button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px;
    font-size: 18px; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#section1 button:hover {
    background-color: #45a049; 
}

#section2 {
    background-color: #013d39; 
    text-align: center;
}

#section2 .content {
    display: flex; 
    align-items: center;
    padding: 20px;
}

#section2 .left {
    flex: 1; 
    text-align: left; 
    padding: 20px;
}

#section2 .right {
    flex: 1; 
}

#section2 img {
    width: 500px;
    height: 600px;

}

#section2 h2 {
    font-size: 36px; 
    margin: 10px 0;
}

#section2 p {
    font-size: 24px; 
    margin: 10px 0;
}

#section2 button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#section2 button:hover {
    background-color: #45a049; 
}


#section3 {
    background-color: #013d39; 
    text-align: center;
    padding: 40px 0;
}
#section h3{
    color: black;
}

#section3 .content {
    max-width: 1000px; 
    margin: 0 auto; 
  
}
#section3 .cardContent{
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
}
.section-title {
    font-size: 36px; 
    margin: 0 0 20px;
}

.subheading {
    font-size: 24px;
    margin: 0 0 30px; 
}

.card {
    flex: 0 0 calc(30.33% - 20px);
    background-color: #001F1E99;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px; 
}

.card img {
    max-width: 100%; 
}

.card h3 {
    font-size: 24px; 
    margin: 10px 0;
    color: white;
}

.card p {
    font-size: 18px; 
    margin: 10px 0;
    color: white;
}

#section4 {
    background-color: #013d39;
    text-align: center;
    padding: 100px 0;
}

#section4 .content {
    max-width: 1000px;
    margin: 0 auto;
}

.section-title {
    font-size: 36px;
    margin: 0 0 20px;
}

.description {
    font-size: 24px;
    margin: 0 0 30px;
}

.points {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.point {
    flex: 0 0 calc(47% - 20px); 
    background-color: 013d39;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px; 
}

.point img {
    max-width: 100%;
}

.point h3 {
    font-size: 24px;
    margin: 10px 0;
}

.point p {
    font-size: 18px;
    margin: 10px 0;
}




