* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #013d39;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333; 
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

header h1 {
    font-size: 36px; 
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
  }
  
.col-sm-6 {
    display: block;
    margin: 0 auto;
    justify-content: center;
 }
footer {
    background-color: #333; 
    text-align: center;
    padding: 20px;
    color: white;
}


footer .copyright {
    font-size: 14px;
}


footer .social-media-icons {
    margin-top: 10px;
}

footer .social-media-icons a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 24px;
}